$primary-color:rgb(25, 23, 23);
//$text-color: white;
$secondary-color: #FFCC00;
$tercery-color: #1A60F2;
$show-home-image: true;
$home-image: url(../media/galaxy-infinity-milky-way-orbit-space-stars-1366710-pxhere.com.jpg);
$background-opacity: 0.2;
$light-opacity : 1;
$day-color : white;



@mixin easeOut {
    transition: all 0.5s ease-out;
}

@mixin background-night {
     background-color: $primary-color;
}

@mixin background-day {
    background-color: $day-color ;
}

@mixin background {
    @if $show-home-image {
       &#bg-img{
           background: $home-image;
           background-attachment: fixed;
           background-size: cover;
           &:after {
               content: '';
               position: absolute;
               top: 0;
               right: 0;
               width: 100%; 
               height: 100%;
               z-index: -1;
               background: rgba($primary-color,$background-opacity);
           }
       }
    }
}

// Set Text Color 
@function set-text-color($color){
    @if (lightness($color) > 40){
        @return #000;
    } @else {
        @return #fff;
    }
}

// Media Query Mixin

@mixin mediaSm {
  @media screen  and (max-width: 500px){
      @content;
  }
}


@mixin mediaMd {
    @media screen  and (max-width: 758px){
        @content;
    }
  }

  @mixin mediaLg {
    @media screen  and (min-width: 760px) and (max-width: 500px){
        @content;
    }
  }

  @mixin mediaXL {
    @media screen  and (min-width: 1171px){
        @content;
    }
  }